@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --width-navigation: 300px;
    --black: #333;
    --black2: #333;
    --primary: #C24444;
    --white: #fff;
    --white2: #fafbfc;
    --border-color: rgba(0, 0, 0, .05);
    --z-header: 99999;
    --z-navigation: 100000;
}

body {
    overflow-x: hidden;
}

.container {
    position: relative;
    display: block;
    height: 100vh;
}

.navigation {
    height: 100vh;
    width: var(--width-navigation);
    border-right: 1px solid var(--border-color);
    background: var(--white2);
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.navigation ul {
    position: relative;
    width: var(--width-navigation);
    padding: 20px 40px;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    margin: 20px 0;
    white-space: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    letter-spacing: 2px;
    opacity: .5;
}

.navigation ul li a:hover,
.navigation ul li a.active {
    opacity: 1;
}

.main {
    min-height: 100vh;
    left: var(--width-navigation);
    right: 0;
    top: 0;
    position: absolute;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background: var(--white);
}

.main header,
.main footer {
    min-height: 60px;
    padding: 0 40px;
    z-index: var(--z-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white2);
}

.main header {
    border-bottom: 1px solid var(--border-color);
}

.main header .logo {
    color: var(--black);
    font-size: 1.4em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main header .toggle {
    display: none;
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var(--black);
}

.main footer {
    border-top: 1px solid var(--border-color);
}

.main footer p.copyright {
    font-size: .8em;
}

.main footer .socialMedia {
    display: flex;
}

.main footer .socialMedia li {
    list-style: none;
}

.main footer .socialMedia li a {
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, .05);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--black);
}

.main footer .socialMedia li a:hover {
    background: var(--black);
    color: var(--white);
}


.main main {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
}

h3 {
    position: relative;
    margin-bottom: 8px;
    font-size: 1.6em;
    color: var(--black);
    letter-spacing: 2px;
    text-transform: uppercase;
}

p {
    font-size: 1em;
    color: #777;
}

@media (max-width: 992px) {
    .main header .toggle {
        display: flex;
    }

    .navigation {
        position: fixed;
        left: -100%;
        background: #fff;
        box-shadow: 2px 0 16px rgba(0, 0, 0, .3);
        overflow: unset !important;
        z-index: var(--z-navigation) !important;
        transition: left .5s !important;
    }

    .navigation.active {
        left: 0;
    }
    .main {
        left: 0;
    }

    .main header,
    .main footer {
        padding: 0 12px;
    }

    .main main  {
        padding: 12px;
    }
}

