.timeline {
    max-width: 1440px;
}

.timeline > ul,
.timeline > ul > li,
.timeline .tags > ul,
.timeline .tags > ul > li {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item .timeline-item-date {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 130px;
    padding: 30px 15px;
    color: #999;
    text-align: right;
    font-style: italic;
    line-height: 30px;
    border-right: 1px solid #ddd;
}

.timeline .timeline-item .timeline-item-date:after {
    content: " ";
    position: absolute;
    top: 42.5px;
    right: -2.5px;
    display: block;
    width: 5px;
    height: 5px;
    background-color: rgba(187,30,30,.8);
}

.timeline .timeline-item:first-child .timeline-item-date {
    padding-top: 0;
    line-height: 1.5;
    margin-top: 10px;
}

.timeline .timeline-item:first-child .timeline-item-date:after {
    top: 0;
}

.timeline .timeline-item:first-child .timeline-item-date time {
    margin-top: -10px;
    display: block;
}

.timeline .timeline-item .timeline-item-contents {
    padding: 30px 0;
    margin-left: 160px;
}

.timeline .timeline-item:first-child .timeline-item-contents {
    padding-top: 0;
}

.timeline .timeline-item:last-child .timeline-item-contents {
    padding-bottom: 0;
}

.timeline .timeline-item .text:not(:last-child) {
    width: 33.33%;
    float: left;
}

.timeline .timeline-item .title {
    margin-bottom: .3em;
    font-size: 30px;
    line-height: 1;
    font-weight: 400;
}

.timeline .timeline-item .description:not(:first-child) {
    margin-top: 15px;
}

.timeline .timeline-item .image {
    width: 66.66%;
    padding-left: 30px;
    float: left;
    text-align: center;
}

.timeline .timeline-item .image img {
    max-width: 100%;
    max-height: 568px;
}

.timeline .timeline-item,
.timeline .timeline-item .tags>ul>li,
.timeline .timeline-item .timeline-item-contents {
    overflow: hidden;
}

@media (max-width: 1440px) {
    .timeline .timeline-item .text:not(:last-child) {
        width: 50%;
    }
    .timeline .timeline-item .image {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    .timeline .timeline-item .image {
        width: auto;
        float: none;
        margin-top: 30px;
        padding-left: 0;
    }

    .timeline .timeline-item .text:not(:last-child) {
        width: auto;
        float: none;
    }
}

@media (max-width: 640px) {

}